// Primary colour references
// -----------------------------------------------------------

$colour-medium-blue:#1e488c;
$colour-dark-blue: #1a3680;
$colour-darkest-blue: #192b56;
$colour-dark-grey: #3b3b49;
$colour-copy-white: #eaebf5;
$colour-pure-white: #fff;
 

// Secondary/highlight colours
// -----------------------------------------------------------

$colour-middle-grey: #777;
$colour-light-grey: #ccc;
$colour-light-blue: #b8dbf6;
$colour-green: #108a00;
$colour-light-green: #80a980;
$colour-orange: #ff5025;