//*****************************************************************
// fonts.scss
// sets up generic styles for all fonts
//*****************************************************************

// Define font families
// -----------------------------------------------------------

$font-family-default: Verdana, "Trebuchet MS", Helvetica, Sans-Serif;
$font-sun3: "SUN3", $font-family-default;
$font-sun7: "SUN7", $font-family-default;

$font-lucida: "Lucida Grande", "Lucida Sans", Arial, Sans-Serif;
$font-georgia: Georgia, Times, "Times New Roman", serif;

$font-location: 'https:' + '/' + '/cdn.comparethemarket.com/fonts/';

@font-face {
	font-family: 'SUN3';
    src: url('#{$font-location}Sun_LT_3_.eot?#iefix'); // IE 5-8
    src: local('☺'), // sneakily trick IE
            url('#{$font-location}Sun_LT_3_.woff') format('woff'), // FF 3.6, Chrome 5, IE9
            url('#{$font-location}Sun_LT_3_.ttf') format('truetype'), // Opera, Safari
            url('#{$font-location}Sun_LT_3_.svg#font') format('svg'); // iOS
       font-weight: normal;
       font-style: normal;
}

@font-face {
    font-family: 'SUN7';
    src: url('#{$font-location}Sun_LT_7_.eot?#iefix'); // IE 5-8
    src: local('☺'), // sneakily trick IE
         url('#{$font-location}Sun_LT_7_.woff') format('woff'), // FF 3.6, Chrome 5, IE9
         url('#{$font-location}Sun_LT_7_.ttf') format('truetype'), // Opera, Safari
         url('#{$font-location}Sun_LT_7_.svg#font') format('svg'); // iOS
       font-weight: normal;
       font-style: normal;

}