//*****************************************************************
// mixins.scss
// SASS mixins for common style rules
//*****************************************************************

// REM font size mixin with line-height, default is 16px
// usage: @include font-size(5);
// @mixin font-size($size: 1.6, $line: $size * 1.25) {
//      font-size: ($size * 10) + px;
//      line-height: ($line * 10) + px;
//      font-size: $size + rem;
//      line-height: $line + rem;
// }

@mixin show-baseline-grid() {
	position: relative;
	$rhythm-unit: 'px'; // Hacky reset of rhythym to pixels just for grid
	&:before {
		@include debug-vertical-alignment;
		content: "";
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 100%;
	}
	$rhythm-unit: 'rem';
}

@mixin font-size($scale, $map: $type-scale) {
    // Get map values
    $font-size: map-fetch($map, $scale font-size);
    $base-lines: map-fetch($map, $scale base-lines);
    $margin-leader: map-fetch($map, $scale margin-leader);
    $margin-trailer: map-fetch($map, $scale margin-trailer);
    
    // Apply map values
    @include adjust-font-size-to($font-size, $base-lines);
    @if ($margin-leader) {
    	@include margin-leader($margin-leader, $font-size);
    }
    @if ($margin-trailer) {
    	@include margin-trailer($margin-trailer, $font-size);
    }
}