@import 
"fonts",
"functions";

//*****************************************************************
// typography.scss
// typographic styles for headings and text
//*****************************************************************

// Default font sizing and spacing
// Base font-size set to 16px, output is rems
// --------------------------------------------------------------

$base-font-size: 13px;  // Set the browser default size
$base-line-height: 21px;  // Set baseline grid line-height
$rhythm-unit: 'rem';  // Set baseline unit
$rem-with-px-fallback: true;
$default-font-color: $colour-pure-white;

$show-baseline-grid: false; // Show the vertical rythym baseline debug grid

// Type-scale sets all the font sizes used in font mixins.
$type-scale: (
    tiny:     ( font-size: 10px, base-lines: 1, margin-trailer: 1 ),
    small:    ( font-size: 12px, base-lines: 1, margin-trailer: 1 ),
    base:     ( font-size: $base-font-size, base-lines: 1, margin-trailer: 1 ),
    medium:   ( font-size: 18px, base-lines: 1, margin-trailer: 1 ),
    large:    ( font-size: 20px, base-lines: 1, margin-trailer: 1 ),
    xlarge:   ( font-size: 23px, base-lines: 1, margin-trailer: 1 ),
    xxlarge:  ( font-size: 36px, base-lines: 2, margin-trailer: 1 ),
    huge:     ( font-size: 41px, base-lines: 2, margin-trailer: 1, margin-leader: 2 ),
    xhuge:    ( font-size: 46px, base-lines: 2, margin-trailer: 2 )
);

#{headings()}, 
.h1, .h2, .h3, .h4, .h5, .h6 { font-family: $font-sun7; }

// large header
h1, .h1 { @include font-size(xhuge); }

// medium sized headers
h2, .h2 { @include font-size(huge); }

h3, .h3 { @include font-size(xxlarge); }

h4, .h4 { @include font-size(xlarge); }

// smaller subheadings
h5, .h5 { @include font-size(large); }

h6, .h6 { @include font-size(medium); }

p, pre, label { @include font-size(base); }

small, .small  { @include font-size(small); }

ol, ul { @include font-size(base); }

strong, b { font-weight: bold; }

em, i, q { font-style: italic; }