.sign-in {
	margin-top: 25px;
	h1 {
		@include column(10);
		padding-bottom: 25px;
	}
	a {
		@include column(2);
		display: inline-block;
		padding: 5px 10px;
		margin-left: 3px;
		background-color: #999;
		border-radius: 3px;
		color: white;
		text-decoration: none;
		text-align: center;
	}
}

#edit-page {
	h3 {
		font-family: $font-sun3;
		@include column(12);
		padding-bottom: 25px;
		&.title {
			@include column(9);
		}
	}
	.menu-buttons {
		@include column(3);
		padding-top: 12px;
		li {
			display: inline-block;
			padding: 5px 10px;
			margin-left: 3px;
			background-color: #999;
			border-radius: 3px;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
	form {
		margin: 0 1.04167%;
		clear: both;
		fieldset {
			margin-bottom: 20px;
			label {
				display: block;
				@include clearfix;
				span {
					@include column(6);
				}
			}
			label.checkbox {
				width: auto;
				display: inline-block;
			}
			span {
				@include column(6);
			}
			input[type=text], select {
				@include column(4);
				@include pull(2);
				padding: 0.5em;
			}
			button {
				display: block;
				border: none;
				color: white;
				@include font-size(base);
				font-family: $font-sun7;
				background-image: linear-gradient(#31AE20, #006300);
				padding: 10px 0;
				@include column(2);
				@include push(8);
				@include pull(2);
			}
		}
	}
	.controls {
		li {
			list-style-type: none;
			@include column(2);
			&:first-child {
				@include push(8);
			}
		}
		button {
			display: block;
			border: none;
			color: white;
			@include font-size(base);
			font-family: $font-sun7;
			background-image: linear-gradient(#31AE20, #006300);
			width: 100%;
			padding: 10px 0;
		}
	}
	footer {
		@include clearfix;
	}
}